{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": false,
    "printWidth": 99,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "<THIRD_PARTY_MODULES>",
        "",
        "^./App.css$",
        "^./workers/(.*)$",
        "^./db/(.*)$",
        "^./context/(.*)$",
        "^./components/(.*)$",
        "^./features/(.*)$",
        "^./hooks/(.*)$",
        "^./services/(.*)$",
        "^./types/(.*)$",
        "^./utils/(.*)$",
        "",
        "^[./]"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderTypeScriptVersion": "5.0.0"
}
