#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  overflow-x: hidden;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #626262;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
  border-radius: 10px;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  background: #626262;
  border-radius: 10px;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9c9c9c;
  border-radius: 10px;
}


.w-md-editor {
  --md-editor-box-shadow-color: transparent;
  --md-editor-background-color: transparent;
}

/* Change background for inline <code> */
.markdown-preview {
  /* color: rgb(217, 217, 217); */
}

/* Change background for inline <code> */
.markdown-preview p {
  padding-left: 5px;
}

.markdown-preview p a {
  padding-left: 5px;
  color: #3a58ff;
}

/* Change background for inline <code> */
.markdown-preview code {
  background-color: #656565 !important;
  padding: 4px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

/* Change background for code blocks */
.markdown-preview pre code {
  background-color: #292929 !important;
  display: block;
  padding: 8px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
}

/* Change background for code blocks */
.markdown-preview blockquote {
  background-color: #6f6f6f !important;
  color: rgb(255, 255, 255);
  display: block;
  padding: 8px;
  border-radius: 4px;
}


.w-md-editor-text {
  height: 100%;
}

.markdown-editor-dark span {
  color: rgb(217, 217, 217);
}

.markdown-editor-dark .w-md-editor-content .w-md-editor-preview {
  background-color: #363636;
}

.markdown-editor-dark .w-md-editor-content .w-md-editor-preview .wmde-markdown {
  background-color: #363636;
  color: rgb(217, 217, 217);
}

.markdown-editor-dark .w-md-editor-content .w-md-editor-preview div * {
  color: rgb(217, 217, 217);
}

.markdown-editor-dark .w-md-editor-content .w-md-editor-area {
  background-color: #363636;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.markdown-editor-dark .w-md-editor-content .w-md-editor-area .w-md-editor-text .wmde-markdown-color .w-md-editor-text-pre .punctuation {
  color: rgb(217, 217, 217) !important;
  font-weight: bold;
}

.markdown-editor-dark .w-md-editor-content .w-md-editor-area .w-md-editor-text .wmde-markdown-color .w-md-editor-text-pre .token.code.keyword {
  color: rgb(217, 217, 217) !important;
  font-weight: bold;
}


.markdown-editor-light span {
  color: rgb(13, 13, 13);
}

.markdown-editor-light .w-md-editor-content .w-md-editor-preview {
  background-color: rgb(217, 217, 217);
}

.markdown-editor-light .w-md-editor-content .w-md-editor-preview .wmde-markdown {
  background-color: rgb(217, 217, 217);
}

.markdown-editor-light .w-md-editor-content .w-md-editor-preview div * {
  color: rgb(13, 13, 13);
}

.markdown-editor-light .w-md-editor-content .w-md-editor-area {
  background-color: rgb(217, 217, 217);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.markdown-editor-light .w-md-editor-content .w-md-editor-area .w-md-editor-text span * {
  color: black;
}

.markdown-editor-light .w-md-editor-content .w-md-editor-area .w-md-editor-text .wmde-markdown-color .w-md-editor-text-pre .punctuation {
  color: black !important;
  font-weight: bold;
}

.markdown-editor-light .w-md-editor-content .w-md-editor-area .w-md-editor-text .wmde-markdown-color .w-md-editor-text-pre .token.code.keyword {
  color: black !important;
  font-weight: bold;
}


.task-datagrid-light .MuiDataGrid-columnHeader {
  background-color: #d9d9d9;
  color: rgb(55, 55, 55);
  opacity: 0.8;
}

.task-datagrid-light .MuiDataGrid-filler {
  background-color: #d9d9d9;
  opacity: 0.8;
}

.task-datagrid-light .MuiDataGrid-scrollbarFiller {
  background-color: #d9d9d9;
  opacity: 0.8;
}

.task-datagrid-dark .MuiDataGrid-columnHeader {
  background-color: #a4a4a4;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}

.task-datagrid-dark .MuiDataGrid-filler {
  background-color: #a4a4a4;
  opacity: 0.8;
}

.task-datagrid-dark .MuiDataGrid-scrollbarFiller {
  background-color: #a4a4a4;
  opacity: 0.8;
}

.task-datagrid-dark .css-4uxqju-MuiSvgIcon-root {
  color: rgb(255, 255, 255);
}

.task-datagrid-dark .MuiDataGrid-toolbarContainer {
  background-color: #cbcbcb;
  opacity: 0.8;
}

.task-datagrid-dark .MuiDataGrid-main .MuiDataGrid-virtualScroller {
  background-color: #363636;
  opacity: 0.9;
}

.task-datagrid-dark .MuiDataGrid-main .MuiDataGrid-scrollbar {
  background-color: #363636;
}

.task-datagrid-dark .MuiDataGrid-footerContainer {
  background-color: #cbcbcb;
  color: black;
}

.task-datagrid-dark .MuiDataGrid-footerContainer .MuiTablePagination-root {
  background-color: #cbcbcb;
  color: black;
}

.css-ww58ll-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

/* editor */
.bn-box-light .bn-editor {
  background-color: rgb(159, 159, 159);
}

.bn-box-dark .bn-editor {
  background-color: #1f1f1f;
}

.bn-editor {
  padding-top: 10px;
  height: 155px;
  overflow: scroll;
  padding: 10px;
}

.bn-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.bn-formatting-toolbar {
  margin-inline: auto;
}

.blocknote-editor::-webkit-scrollbar {
  width: 8px;
}

.blocknote-editor::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.blocknote-editor::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.blocknote-editor {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #888 transparent;
}

.bn-container[data-changing-font-demo] .bn-editor * {
  font-family: "Comic Sans MS", sans-serif;
}

/* Change the SuggestionMenuController position */
div[data-floating-ui-focusable] {
  max-height: 300px !important;
}